body {
    background-color: orange;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
    color: white;
    background-color: black;
}

img {
    width:500px;
    height:500px;
    margin: 0 auto;
    display: block;
}

h1 {
    text-align: center;
}

li {
    margin-bottom: 10px;
}